#direccion{
width:300px;
height:300px;
border: #FFE4B5 solid;
margin-top:60px;
margin-left:180px;
}


#IconoAmapa{
float:right;
margin-right:370px;
margin-top:130px;
}

label{
font-size:16px;
text-decoration:underline;
font-weight:bold;
margin-left:300px;
}

#cuestionario{
margin-top:20px;
}

#mensaje{
float:right;
margin-right:300px;
}

#boton{
margin-top:30px;
margin-left:550px;
margin-bottom:30px;
}

.InicioMensaje{
margin-left:300px;
font-weight:bold;
font-size:19px;
}

