	*{
		font-family:verdana;
	
	}
	
	body{
		background-color:#862C15;
	}
	
	#banner{
		position:relative;
		width:1053px;
		height:135px;
		margin-left:180px;
		background-color:black;
	}
	
	#menu{
		
		position:relative;
		width:870px;
		height:44px; 
		margin-left:270px;
		background-color:white;
		margin-top:30px;
	}
	
	#navi{
		margin:0px;
		padding:0px;
		list-style-type:none;
	}
	
	#navi li{
		border:1px solid black;
		float:left;
		width:172px;
		height:44px;
		text-align:center;
	}
	
	#navi li a{
		display:block;
		text-decoration:none;
		font-size:12px;
		color:black;
		padding-top:12px;
	}
	
	#principal{
		border:solid black;
		position:relative;
		width:709px;
		height:209px;
		margin-left:425px;
		background-color:black;
		margin-top:30px;
	}
	
	#sug{
		font-size:20px;
	}
	
	#sugerencia{
		position:relative;
		width:860px;
		height:450px;
		margin-left:270px;
		margin-top:30px;
	}
	
	#producto1{
		border:solid black;
		width:299px;
		height:144px;
			
		margin-left:110px;
		background-color:skyblue;
	}
	
	#producto2{
		border:solid black;
		width:299px;
		height:144px;		
		margin-left:510px;
		float:right;
		margin-top:-150px;
		background-color:blue;

	}
	
	#producto3{
		border:solid black;
		width:299px;
		height:144px;		
		margin-left:110px;
		margin-top:40px;
		background-color:yellow;
	}
	
	#producto4{
		border:solid black;
		width:299px;
		height:144px;
		margin-left:510px;
		float:right;
		margin-top:-150px;
		background-color:red;
	}
	