	*{
		font-family:verdana;
		color:#800000;
	}
	
	body{
		background-color:#862C15;
	}
	
	#todo{
		background-color:#D2691E;
		width : 86%;
		margin-left : 95px;
		padding-top:10px;
	}
	
	#banner{
		
		width:1053px;
		height:135px;
		margin-left:78px;
		background-color:black;
	}
	
	#menu{
		
		position:relative;
		width:870px;
		height:44px; 
		margin-left:180px;
		background-color:#FFE4B5;
		margin-top:110px;
	}
	
	#navi{
		margin:0px;
		padding:0px;
		list-style-type:none;
	}
	
	#navi li{
		border:1px solid black;
		float:left;
		width:215.5px;
		height:44px;
		text-align:center;
		
	}
	
	#navi li a{
		display:block;
		text-decoration:none;
		font-size:12px;
		color:black;
		padding-top:12px;
		
	}
	
	#principal{
		border:solid black;
		position:relative;
		width:709px;
		height:209px;
		margin-left:335px;
		background-color:black;
		margin-top:30px;
	}
	
	#sug{
		font-size:20px;
	}
	
	#sugerencia{
		
		position:relative;
		width:860px;
		height:450px;
		margin-left:180px;
		margin-top:30px;
	}
	
	#producto1{
		border:solid #800000;
		background-color:#FFE4B5;
		width:300px;
		height:144px;
			
		margin-left:20px;
		
	}
	
	#producto2{
		border:solid #800000;
		background-color:#FFE4B5;
		width:300px;
		height:144px;		
		margin-left:420px;
		float:right;
		margin-top:-150px;
		

	}
	
	#producto3{
		border:solid #800000;
		background-color:#FFE4B5;
		width:300px;
		height:144px;		
		margin-left:20px;
		margin-top:40px;
		
	}
	
	#producto4{
		border:solid #800000;
		background-color:#FFE4B5;
		width:300px;
		height:144px;
		margin-left:420px;
		float:right;
		margin-top:-150px;
		
	}
	
	.IMGMyPRecomienda{
	margin-top:-75px;
	float:right;
	}
	
	
	