div{
	
}

#contenedor{
	margin-top:80px;
	width: 1200px;
}
#flecha_der{
	float: right;
	cursor: pointer;
	margin-right:350px;
	margin-top:58px;
}
#flecha_izq{
	float: left;
	cursor: pointer;
	margin-left:350px;
	margin-top:58px;
}
.productos{
	width: 310px;
	margin: 0 auto;
	text-align:center;
}




